body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 400px;
}

.login-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    color: #424242;
    font-family: "Zen Kaku Gothic Antique";
    font-size: 10px;
    text-transform: uppercase;
    line-height: 2;
}

.custom-input {
    border-radius: 0;
    border-color: #7575757c; 
    border-width: 0.5px;
    padding: 5px 16px; 
    margin: -1px 0;
}    

.custom-button {
    background-color: #24243E; 
    color: white; 
    border-radius: 0; 
    border-color: transparent;
}
